.card {
    background-color: rgb(204, 204, 204);    
    width: 350px;
    border: 1px solid black;
}

.image-container {    
    width: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    height: auto;
    width: 100%;    
}

.text-container {
    padding: 5px
}

.text-container h3 {
    margin: 0px
}

.text-container h6 {
    margin: 0;
    font-size: 16px;
}